.photos__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image {
    flex-basis: calc(33.333% - 20px);
    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;

    &:nth-of-type(3) {
        .image__create-tooltip {
            top: 30px;
            left: 40px;
        }
    }
}

.image__create-tooltip {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
}