.photos__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image {
    margin: 10px;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    object-fit: contain;
    
    &:before {
        content: '';
        display: block;
        @include absolute();
        background: rgba(255, 255, 255, .6);
        transition: all .2s ease;
        opacity: 0;
        visibility: hidden;
    }

    &:nth-of-type(3) {
        .image__create-tooltip {
            top: 30px;
            left: 40px;
        }
    }

    &__controls {
        position: absolute;
        right: 0;
        top: 0;
        background: #4FC3F7;
        display: flex;

        a {
            margin: 0 5px;
        }
    }

    &__edit {
        position: relative;

        &-toggle {

        }

        &__form {
            position: absolute;
            right: 0;
            top: 20px;
            display: flex;
            justify-content: space-between;
            background: #fff;
            transition: all .2s ease;
            //visibility: hidden;

            &.image__edit__form--visible {
                visibility: visible;
            }

            label {
                white-space: nowrap;
                padding: 5px 10px;
            }

            input {
                display: none;
            }

            button {
                margin-left: 10px;
                padding: 5px;
            }
        }
    }
    
    &.image__tooltip--selecting {
        cursor: url('./../img/cursor.png'), auto;
        
        &:before {
            opacity: 1;
            visibility: visible;
        }

        &.image__tooltip--adding-text {
            cursor: auto;
        }
    }

    &__tooltips {
        @include absolute();
    }

    &__tooltip {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #000;
        background: #fff;

        &__wrap {
            position: absolute;

            &:hover {
                .image__tooltip__preview  {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &__text {
            position: absolute;
            left: 30px;
            top: 0;
            transition: all .2s ease;
            visibility: visible;
            opacity: 1;

            &.image__tooltip__text--hidden {
                visibility: hidden;
                opacity: 0;
            }
        }

        &__preview {
            transition: all .2s ease;
            background: #fff;
            display: flex;
            padding: 5px;
            border-radius: 7px;
            border: 2px solid #232323;
            position: absolute;
            right: 20px;
            bottom: 20px;
            visibility: hidden;
            opacity: 0;
        }
    }
}

.image__create-tooltip {
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    align-items: center;
    justify-content: center;
}